            
            body {
                width: 100%;
                height: 100%;
                margin: 0px 0px 0px 0px;
                padding: 0px 0px 0px 0px;                        
                background: url('papier3.jpg') no-repeat center center fixed;
                -webkit-background-size: 100% 100%;
                -moz-background-size: 100% 100%;
                -o-background-size: 100% 100%;
                background-size: 100% 100%;
            }
            
            #content {
               width: 960px;
               height:97%;
               padding: 1.5% 2.5% 1.5% 2.5%;
               margin: 0 0 0 0;
               position: relative;
               display: inline-block;
            }

            header {
                text-align:center;
                padding:5px;
                border-top-left-radius: 2em;
                border-top-right-radius: 2em;
                background-color: rgba(64, 54, 38, 0.95);
                font-family: Georgia, Times New Roman;
            }
            
            #left {
                line-height:15px;
                height:100%;
                width:240px;
                float:left;
                padding: 0px 0px 15px 0px;
                background-color: rgba(232, 212, 132, 0.963);
                border-bottom-left-radius: 1.5em;
                border-bottom-right-radius: 1.5em;
                border-top-right-radius: 1.5em;
                display: inline-block;
            }
            
            #right {
                width:710px;
                float:left;
                padding-left:10px;
                padding-top:0px;
            }

            table.ta {
                width:240px;
                border-collapse: collapse;
                margin-left: 10px;
            }
            
            table.ta th, table.ta td {
                padding: 4px;
                text-align: left;
                padding-left: 0px;
                font-size: 15px;
                font-family: Georgia, Times New Roman;
            }
            
            table.tb {
                width: 100%;
                border-collapse: collapse;
                margin: 0px 0px 0px 0px;
            }
            
            table.tb th, table.tb td {
                padding: 5px;
                text-align: left;
                width: auto;
            }
            
            table#t02 tr:nth-child(even) {
                background-color: rgba(245, 237, 206, 0.94);
                border: 1px solid black;
                border-collapse: collapse;
            }
            
            table#t02 tr:nth-child(odd) {
                background-color: rgba(222, 209, 171, 0.94);
                border: 1px solid black;
                border-collapse: collapse;
            }
            
            table#t02 th	{
                color: beige;
                background-color: #262626;
                border: 1px solid black;
                border-collapse: collapse;
                text-align: center;
                font-size: 15px;
                font-family: Georgia, Times New Roman;
            }
            
            table#t02 td	{
                border: 1px solid black;
                border-collapse: collapse;
                font-size: 13px;
                font-family: Arial;
            }
            
            a.info {color: black; text-decoration: none;}
            a.info:hover {text-decoration: none;}
            a.info span {display:none; padding:2px 3px; margin-left:9px; width:120px;}
            a.info:hover span {display: inline;
                               position: absolute;
                               margin: 15px 0 0 5px;
                               background: #dddddd;
                               border: 1px solid #b30000;
                               color: #000000;
                               -moz-opacity: 0.8;
                               opacity:0.8;
                               filter: alpha(opacity=80);
                               text-align: center;
            }

            
            h1   {color:linen; font:Georgia, Times New Roman}
            h4   {text-align: left; padding-left: 10px; font-family:  Georgia, Times New Roman}
            select {width: 130px; font-size: 13px; font-family: Arial, Verdana }
            input[type="text"] {width: 125px; font-size: 13px; font-family: Arial, Verdana}
            input[type="number"] {width: 125px; font-size: 13px; font-family: Arial, Verdana}
            
            .a2a:link    {color:beige; background-color:transparent}
            .a2a:visited {color:beige; background-color:transparent}
            .a2a:hover   {color:#e8d484; background-color:transparent}
            .a2a:active  {color:#84cae8; background-color:transparent}
            
            .a2b:link    {color:black; background-color:transparent}
            .a2b:visited {color:black; background-color:transparent}
            .a2b:hover   {color:gray; background-color:transparent}
            .a2b:active  {color:#2055da; background-color:transparent}
            
            .aredir:link    {color:#403626; background-color:transparent; text-decoration: none;}
            .aredir:visited {color:#403626; background-color:transparent; text-decoration: none;}
            .aredir:hover   {color:gray; background-color:transparent; text-decoration: none;}
            .aredir:active  {color:#4055da; background-color:transparent; text-decoration: none;}
            
            li {
                float: left;
                padding-left: 10px;
                font-size: 14px;
                font-family: Georgia, Times New Roman;
                font-weight: bold;
                color: #403626;
            }

            .button {
                border-top: 1px solid #41494d;
                background: #b8b7ad;
                background: -webkit-gradient(linear, left top, left bottom, from(#e8e4d8), to(#b8b7ad));
                background: -webkit-linear-gradient(top, #e8e4d8, #b8b7ad);
                background: -moz-linear-gradient(top, #e8e4d8, #b8b7ad);
                background: -ms-linear-gradient(top, #e8e4d8, #b8b7ad);
                background: -o-linear-gradient(top, #e8e4d8, #b8b7ad);
                padding: 2.5px 5px;
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                border-radius: 8px;
                -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
                -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
                box-shadow: rgba(0,0,0,1) 0 1px 0;
                text-shadow: rgba(0,0,0,.4) 0 1px 0;
                color: #21211f;
                font-size: 13px;
                font-family: Georgia, serif;
                text-decoration: none;
                vertical-align: middle;
            }
            .button:hover {
                border-top-color: #403426;
                background: #403426;
                color: #e6e8cf;
            }
            .button:active {
                border-top-color: #695938;
                background: #695938;
            }