/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-10-18, 18:42:26
    Author     : M
*/

.button {
   border-top: 1px solid #939596;
   background: #505c63;
   background: -webkit-gradient(linear, left top, left bottom, from(#3d4347), to(#505c63));
   background: -webkit-linear-gradient(top, #3d4347, #505c63);
   background: -moz-linear-gradient(top, #3d4347, #505c63);
   background: -ms-linear-gradient(top, #3d4347, #505c63);
   background: -o-linear-gradient(top, #3d4347, #505c63);
   padding: 4.5px 9px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #121517;
   background: #121517;
   color: #e0e3b6;
   }
.button:active {
   border-top-color: #2a3136;
   background: #2a3136;
   }

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-image:url('biblioteka1.jpg');
    background-size: 100% 100%;
}

/*#content {
    width: 100%;
    height: 100%;
}  */

h1 {
    font-family: Monotype Corsiva, cursive, Comic Sans, fantasy;
    color: #D1AE1F;
    font-size: 4.5vw;
    margin: 1vw 1vw 1vw 1vw;
}

p {
    font-family: Monotype Corsiva, Comic Sans, fantasy;
    color: #C9A81E;//#D1AE1F;
    font-size: 2vw;
    margin: 1vw 1vw 1vw 1vw;
}

.nav {
    background-color: rgba(33, 33, 33, 0.85);//#333333;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
    border:2.5px solid #AD9B92;//#AEAF93;//#4B92A6;//#262626;//#6787E7;
    /*opacity: 0.7;*/
    margin-left: 27.5%;
    margin-top: 25px;
    width: 45%;
    height: 50%;
    /*padding: 0px 0px 0px 0px;*/
    position: relative;
    display: inline-block;
}
.nav .pull-right {
    float: right!important;
}
.nav .pull-left {
    float: left!important;
}
.nav a {
    color: #5a5a5a;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 15px;
    text-transform: uppercase;
}
.nav li {
    display: inline;
}

.jumbotron {
    background-image:url('resources.jpg');
    height: 500px;
    margin-top: 40px;
    -webkit-box-shadow: 10px 10px 29px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 29px 6px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 29px 6px rgba(0,0,0,0.75);
}
.container-jumbotron {
    position: relative;
    top:100px;
}
.container-jumbotron h1 {
    color: lightgoldenrodyellow;
    font-size: 48px;
    font-family: Vivaldi;
    font-weight: bold;
}
.container-jumbotron a {
    margin-left: 70px;
    color: #d6de58;
    text-align: left!important;
    font-size: 20px;
}
.time{
    background-color:#BFAA81;
    border-bottom:1px solid #dbdbdb;
}
.time h4 {
    color:#393c3d;
    font-size:22px;
    text-align: right;
}