/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-10-18, 18:42:26
    Author     : M
*/

.button {
   border-top: 1px solid #939596;
   background: #505c63;
   background: -webkit-gradient(linear, left top, left bottom, from(#3d4347), to(#505c63));
   background: -webkit-linear-gradient(top, #3d4347, #505c63);
   background: -moz-linear-gradient(top, #3d4347, #505c63);
   background: -ms-linear-gradient(top, #3d4347, #505c63);
   background: -o-linear-gradient(top, #3d4347, #505c63);
   padding: 4.5px 9px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   margin-top: 15px;
   margin-bottom: 35px;
   }
.button:hover {
   border-top-color: #121517;
   background: #121517;
   color: #e0e3b6;
   }
.button:active {
   border-top-color: #2a3136;
   background: #2a3136;
   }

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-image:url('biblioteka1.jpg');
    background-size: 100% 100%;
}

h1 {
    font-family: Monotype Corsiva, cursive, Comic Sans, fantasy;
    color: #D1AE1F;
    font-size: 55px;
    margin: 15px 15px 15px 15px;
}

p {
    font-family: Monotype Corsiva, Comic Sans, fantasy;
    color: #C9A81E;//#D1AE1F;
    font-size: 28px;
    margin: 10px 10px 15px 10px;
}

/*h4 {
    font-family: Times New Roman, cursive;
    color: #C9A81E;//#D1AE1F;
    //margin: 1vw 1vw 1vw 1vw;
}*/

time {
    font-family: Times New Roman, cursive;
    color: #AD9B92;//#D1AE1F;
    float: right;
    margin: 40px 10px 10px 10px;
    font-size: 17px;
}

.nav {
    background-color: rgba(33, 33, 33, 0.85);//#333333;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
    border:2.5px solid #AD9B92;//#AEAF93;//#4B92A6;//#262626;//#6787E7;
    margin-top: 25px;
    width: 550px;
    height: 400px;
    /*padding: 0px 0px 0px 0px;*/
    //position: relative;
    display: inline-block;
}
